<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.javacrypt.se1">

    <application
        android:allowBackup="true"
        android:icon="@drawable/minibirdopacity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="presentationLayer.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="businessLogicLayer.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="businessLogicLayer.AddBird"
            android:label="@string/title_activity_add_bird" />
        <activity
            android:name="businessLogicLayer.EditBird"
            android:label="@string/title_activity_edit_bird" />
        <activity
            android:name="businessLogicLayer.SearchBird"
            android:label="@string/title_activity_search_bird" />
        <activity
            android:name="businessLogicLayer.SearchExperiment"
            android:label="@string/title_activity_search_experiment" />
        <activity
            android:name="businessLogicLayer.ViewBird"
            android:label="@string/title_activity_view_bird" />
        <activity
            android:name="businessLogicLayer.ViewBirds"
            android:label="@string/title_activity_view_birds" />
        <activity
            android:name="businessLogicLayer.ViewExperiment"
            android:label="@string/title_activity_view_experiment" />
        <activity
            android:name="businessLogicLayer.ViewExperiments"
            android:label="@string/title_activity_view_experiments" />
        <activity
            android:name="businessLogicLayer.AddExperiment"
            android:label="@string/title_activity_add_experiment"/>
        <activity
            android:name="businessLogicLayer.EditExperiment"
            android:label="@string/title_activity_edit_experiment"/>
        <activity
            android:name="businessLogicLayer.LoginScreen"
            android:label="Login Screen"/>
        <activity
            android:name="businessLogicLayer.ExpAddSuccess"
            android:label="@string/title_activity_exp_add_success"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="businessLogicLayer.QuitScreen"
            android:label="Quit Screen"/>
        <activity
            android:name="businessLogicLayer.EditBirdSuccess"
            android:label="@string/title_activity_edit_bird_success"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="businessLogicLayer.EditExperimentSuccess"
            android:label="@string/title_activity_edit_experiment_success"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="businessLogicLayer.AddBirdSuccess"
            android:label="@string/title_activity_add_bird_success"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="businessLogicLayer.ViewRelatives"
            android:label="@string/title_activity_view_relatives"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="businessLogicLayer.AddMedicalHistory"
            android:label="@string/title_activity_add_medical_history"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="businessLogicLayer.ImportBirds"
            android:label="@string/importBirds" />
    </application>

</manifest>
