<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.javacrypt.se1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="src.presentationLayer.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="src.businessLogicLayer.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="src.businessLogicLayer.AddBird"
            android:label="@string/title_activity_add_bird" />
        <activity
            android:name="src.businessLogicLayer.SearchBird"
            android:label="@string/title_activity_search_bird" />
        <activity
            android:name="src.businessLogicLayer.SearchExperiment"
            android:label="@string/title_activity_search_experiment" />
        <activity
            android:name="src.businessLogicLayer.ViewBird"
            android:label="@string/title_activity_view_bird" />
        <activity
            android:name="src.businessLogicLayer.ViewBirds"
            android:label="@string/title_activity_view_birds" />
        <activity
            android:name="src.businessLogicLayer.ViewExperiment"
            android:label="@string/title_activity_view_experiment" />
        <activity
            android:name="src.businessLogicLayer.AddExperiment"
            android:label="@string/title_activity_add_experiment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="src.businessLogicLayer.ExpAddSuccess"
            android:label="@string/title_activity_exp_add_success"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="src.businessLogicLayer.AddBirdSuccess"
            android:label="@string/title_activity_add_bird_success"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
